/* styles go here */
.firstform {
  display: block;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  margin-bottom: 20px;
  border-image: initial;
}

legend {
  display: block;
}


.label {
  margin-bottom: 10px;
}
