/* styles go here */
.firstform {
  display: block;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  margin-bottom: 20px;
  border-image: initial;
}

legend {
  display: block;
}

#old {
  width: 41px;
  height: 15px;
}

#first1 {
  height: 163px;

}

#first2 {
  height: 68px;

}

#first3 {
  height: 219px;

}

#first4 {
  height: 85px;

}

.label {
  margin-bottom: 10px;
}
